@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #1a1a1a;
}

#header {
    display: flex;
}

#mmLogo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#homeIntro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

#stay_on_track {
    top: 0px;
    margin-bottom: 20px;
    width: 983px;
    height: 328.5px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    color: #1a1a1a;
}

#well-being {
    color: #df9cb7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#receive_personalized {
    margin-top: 20px;
    color: var(--txt, #1a1a1a);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 777px;
}

#homepageButtons {
    display: flex;
    justify-content: center;
    gap: 10px 5%;
    padding: 20px;
    margin: 10px;
}

#learnMoreBtn {
    border-radius: 30px;
    background: rgba(117, 210, 230, 0.71);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 225px;
    height: 55px;
    padding: 15px 50px;
    color: white;
}

#signUpBtn {
    border-radius: 30px;
    background: rgba(79, 197, 105, 0.42);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 239px;
    height: 55px;
    padding: 15px 50px;
    color: white;
}

#secondRowContainer {
    display: flex;
    margin-top: 230px;
    padding-bottom: 230px;
}

#ourMissionContainer {
    display: grid;
    gap: 65px;
    text-align: center;
    align-items: center;
    margin: 20px;
    justify-content: center;
}

#missionHeading {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#missionStatement {
    color: var(--txt, #1a1a1a);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 711px;
    flex-shrink: 0;
}

#learn-more-mission-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#learnMoreMissionBtn {
    border-radius: 30px;
    background: rgba(117, 210, 230, 0.71);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 225px;
    height: 55px;
    color: white;
}

#thirdRowContainer {
    margin-top: 100px;
    padding-top: 50px;
    display: flex;
    gap: 100px;
    margin: 20px;
    padding: 20px;
}

#welcomeBackFormContainer {
    background: rgba(35, 201, 222, 0.15);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 616px;
    height: 800px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-bottom: 30px;
}

#dontHaveAcctQuestion {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 14.5px;
    padding-right: 375px;
}

#alreadyHaveAcctQuestion {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 14.5px;
    padding-right: 375px;
    margin-bottom: 100px;
}

#welcomeBackFormTitle,
#getStartedFormTitle {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
}

#welcomeBackForm {
    display: flex;
    gap: 100px;
}

#login-to-your-account {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.5px;
    margin-top: 10px;
}

#remember-me {
    margin-right: 125px;
    margin-left: 5px;
}

#recoverBtn {
    color: purple;
}

#welcomeBackPassword,
#welcomeBackEmail {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background: #fff;
    width: 400px;
    height: 70px;
    flex-shrink: 0;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding-left: 25px;
}

#welcomeBackLoginButton,
#createAccountButton {
    margin-top: 55px;
}

#logInBtn,
#createAccountBtn {
    border-radius: 10px;
    background: #20dc29;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 70px;
    color: black;
    margin-bottom: 30px;
}

#getStartedFormContainer {
    background: rgba(35, 222, 43, 0.12);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 616px;
    height: 800px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

#getStartedName,
#signUpEmail,
#getStartedPassword,
#confirmPassword {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background: #fff;
    width: 400px;
    height: 70px;
    flex-shrink: 0;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding-left: 25px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 700px;
  margin-top: 100px;
  padding-left: 5px;
  padding-right: 2px;
  height: 106px;
  flex-shrink: 0;
  background-color: #f3d7e6;
}

#footerBtn,
#footerTeamName {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Resources Page CSS Styling */

/* #resourcesPageContainer {
    background-color: aqua;
} */

#wellnessResourcesTextAndBtnsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#wellnessResourcesTextContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-top: 70px;
  padding-left: 40px;
  /* padding: 80px;
    margin-top: 130px; */
}

#wellnessResourcesTitle {
  color: var(--txt, #1a1a1a);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 650px;
  height: 280px;
}

#data {
  color: #e298b7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#wellnessResourcesBlurb {
  width: 645px;
  height: 354px;
  flex-shrink: 0;
  color: var(--txt, #1a1a1a);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#resourcesSelectionBtnsContainer {
  /* Located in WellnessNavbar.jsx */
  display: grid;
  grid-template-columns: 300px 300px;
  row-gap: 70px;
  column-gap: 10px;
  /* height: 65px;
    padding: 270px 80px; */

  /* display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 3, 100px;
    background-color: cornflowerblue;
    padding: 10px; */
}

#resourcesBtns {
  /* Located in WellnessLink.jsx */
  border-radius: 30px;
  background: rgba(30, 189, 199, 0.66);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 190px;
  height: 45px;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--txt, #fff);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

#wellnessResourcesBtns {
}

#wellnessResourcesCardContainer {
}

#card {
  /* Located in WellnessTopic.jsx */
  background: rgba(117, 210, 230, 0.23);
}

#currentTopic {
  color: var(--txt, #1a1a1a);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 602px;
  height: 97px;
  flex-shrink: 0;
  padding-left: 30px;
  padding-top: 30px;
}

#cardInfoProfileBtnAndImage {
  display: flex;
  padding: 70px;
}

#cardInfoAndAddToProfileBtn {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 745px;
  height: 354px;
}

#resourceQuestions {
  color: var(--txt, #1a1a1a);
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#resourceQuestionResponses {
  color: var(--txt, #1a1a1a);
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#furtherReading {
  color: blue;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#addToProfileBtnContainer {
  display: flex;
  justify-content: center;
}

#addToProfileBtn {
  padding: 15px;
  gap: 10px;
  border-radius: 30px;
  background: rgba(218, 123, 180, 0.69);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  width: 250px;
}

#imageContainer {
    display: flex;
    align-items: center;
}